@import "../../../shared/styles/variables.scss";

:host {
  background-color: $grey4;
  color: white;
  padding: 0rem;
  max-height: 100%;
  text-align: center;
}

.nameContainer{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.namePlate {
  color: $grey1;
  font-size: 8rem;
  font-family: "Trebuchet MS", Helvetica, serif;
}

.scoreContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.scorePlate {
  color: $pink1;
  font-size: 20rem;
  font-family: "Trebuchet MS", Helvetica, serif;
}

.dartLogDiv {
  background-color: #FF8BC3;
}

circle {
  fill: #f1f1f1;
  stroke: green;
  stroke-width: 5;
}

.pathCold {
  fill: green;
}

.pathHot {
  fill: red;
}

svg.pie {
  width: 230px;
  height: 230px;
}

/*path:nth-of-type(2n) {*/
/*  fill: lime;*/
/*}*/

/* Display */
.c-flexDisplay{
  display: flex;
}

.c-inlineDisplay {
  display: inline;
}

.flex-10{
  flex: 10;
}
/* Height */
.c-halfHeight {
  height: 50% !important;
}

.c-fullHeight {
  height: 100% !important;
}

/* Width */
.c-halfWidth {
  width: 50% !important;
}

/* Text Color */
.text-color-pink {
  color: #E874BC !important;
}

.text-color-grey1 {
  color: #D6D6D6 !important;
}
.text-color-grey2 {
  color: #AFAFAF !important;
}
.text-color-grey3 {
  color: #6D6D6D !important;
}
.text-color-grey4 {
  color: #2D2D2D !important;
}
