<!--<div class="wrap">-->
<!--  <div [style.width]="size" style="border-style: solid;"></div>-->
<!--  <div class="floatright"></div>-->
<!--  <div style="clear: both;"><div>-->

<!--    <ul>-->
<!--      <li *ngFor="let dart of darts">-->
<!--        <b> Id: {{dart.id}}</b> | Points: {{dart.points}} | Pie: {{dart.pie}}-->
<!--      </li>-->
<!--    </ul>-->


<!--  </div>-->
<!--    <h3>Game Info</h3>-->
<!--    <app-game-info [GameMeta]="gameMeta"></app-game-info></div>-->
<!--</div>-->
<app-dart-score-board-page></app-dart-score-board-page>
<!--<router-outlet></router-outlet>-->

