<div class="table-container">
  <div>
    <table mat-table [dataSource]="darts" class="dart-table">
      <ng-container matColumnDef="points2" class="point-col">
        <th mat-header-cell *matHeaderCellDef class="dart-header-cell"> Points </th>
        <td mat-cell *matCellDef="let dart" class="dart-row-cell"> {{dart.points}} </td>
      </ng-container>
      <ng-container matColumnDef="pie" class="pie-col">
        <th mat-header-cell *matHeaderCellDef class="dart-header-cell"> Pie </th>
        <td mat-cell *matCellDef="let dart" class="dart-row-cell"> {{dart.pie}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </div>
</div>

