<p-dataView [value]="darts">
  <p-header>
    <div class="container line">
      <span class="c1" style="border-bottom: 1px solid lightgray;">
        Id
      </span>
      <span class="c2" style="border-bottom: 1px solid lightgray;">
        Pie
      </span>
      <span class="c3" style="border-bottom: 1px solid lightgray;">
        Dart
      </span>
    </div>
  </p-header>
  <ng-template let-dart let-i="index" pTemplate="listItem">
    <div class="container line colorAlt">
      <span class="c1" style="border-bottom: 1px solid lightgray;">
        {{dart.points}}
      </span>
        <span class="c2" style="border-bottom: 1px solid lightgray;">
        {{dart.pie}}
      </span>
        <span class="c3" style="border-bottom: 1px solid lightgray;">
        {{dart.throwNumber}}
      </span>
    </div>

  </ng-template>

<!--  <ng-template let-item pTemplate="gridItem">-->
<!--    <div class="ui-g-12 ui-md-3">-->
<!--      {{item.fullName}}-->
<!--    </div>-->
<!--  </ng-template>-->
</p-dataView>
